### DO NOT PUT API keys or anything of importance here
### Use .envrc.local for the important things
### .envrc.local should be excluded in .gitignore so don't
### check it in
export PORT=3000
export SENTRY_DSN='local'
