### DO NOT PUT API keys or anything of importance here
### Use .envrc.local for the important things
### .envrc.local should be excluded in .gitignore so don't
### check it in
export GOPORT=5000
export SENTRY_DSN='local'
dotenv

##############################################
# Load Local Overrides and Check Environment #
##############################################

# Load a local overrides file. Any changes you want to make for your local
# environment should live in that file.
[[ -f .envrc.local ]] && source_env .envrc.local
