<html>
  {{template "header.tmpl.html"}}
<body>
  {{template "nav.tmpl.html"}}

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/static/lang-logo.png">
    </a>
    <h1>WTFIZIT</h1>
      
  </div>
</div>
<div class="container">
  
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> Foo</h3>
      
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> Bar</h3>
      
      <h3><span class="glyphicon glyphicon-link"></span> FUBAR</h3>
      
    </div>
  </div> <!-- row -->
    
</div>

</body>
</html>
